@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mate+SC&display=swap');


body{
    background: white;
    background-size: 100%;
    background-position: 0%;
    min-height: 3500px;
    width: 100%;
    margin: 25px;
}


.card{
    margin: 20px;
    border-radius: 10%;
 }


.card-title{
    font-family: 'Mate SC', serif;
}


.card-text{
    font-family: 'Mate SC', serif;
}


.col-md-50{
    margin-top: 7px;
    margin-bottom: 15px;
}


.d-grid{
    margin-top: 15px;
    margin-bottom: 20px;
}


.btn{
    margin-top: 10px;
    margin-bottom: 8px;
    margin-right: 15px;
    font-family: 'Questrial', sans-serif;
}


.form-group{
    margin-top: 15px;
}


.conteiner-card{
    margin-left: 100px;
    margin-right: 100px;
}


a{
    font-family: 'Questrial', sans-serif;
}


h1, h2, h3, h4, h5, h6{
    font-family: 'Mate SC', serif;   
}

.header-box{
    width: 100%;
    height: 220px;
    background: linear-gradient(#dceb59, #65d481) no-repeat;
    margin-bottom: 10px;
}

.d-flex{
    margin-right: 15px;
}


.cont-head{
    width: 100%;
    height: 70px;
    background: linear-gradient(#dceb59, #65d481) no-repeat;
    margin-bottom: 10px;
}


.map{
    margin-left: 100px;
}