{% extends 'wrapper.html' %}

{% block title %}
    Create impression
{% endblock %}

{% block content %}

    <div class="cont-head text-center">
        <a href="{% url 'list_places_remember' %}" ><h3>Главная страница</h3></a>
    </div>
    <div class='form-group text-center'>
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                {{form.as_p}}
            </div>
            <div class="d-grid gap-2 d-md-block">
                <button type="submit" class="btn btn-primary btn-lg">Save</button>
            </div>
            <div class="d-flex justify-content-center">
                <div class="map">
                    {{map|safe}}
                </div>
            </div>
        </form>
    <style>

    </style>
{% endblock %}