{% extends 'wrapper.html' %}

{% block title %}
    Create impression
{% endblock %}

{% block content %}
    <div class='form-group text-center'>
        <form method="POST">
            {% csrf_token %}
            <a href="{% url 'list_places_remember' %}"><h3>Главная страница</h3></a>
                {{form.as_p}}
            <div class="d-grid gap-2 d-md-block">
                <button type="submit" class="btn btn-primary btn-lg">Save</button>
            </div>
    </div>
            <div class="map text-center">
                {{map|safe}}
            </div>
        </form>
    <style>

    </style>
{% endblock %}