{% load static %}
{% load socialaccount %}


<!DOCTYPE html>
 <html>
 <head>
	 <title></title>
	 <meta charset="UTF-8"/>
</head>
<body>
    <div class="socialnetworks">
        <div class="butt-1">
            <a href="{% provider_login_url "vk" method="oauth2" %}"><button type="submit">VK</button></a>
        </div>
        <div class="butt-2">
            <a href="{% provider_login_url "facebook" method="oauth2" %}"><button type="submit">Facebook</button></a>
        </div>
    </div>
        <style>
            body{
                background-color: aquamarine;
            }
        </style>
</body>
</html>