{% extends 'wrapper_auth.html' %}
{% load socialaccount %}

{% block title%}Login{% endblock %}
{% block content %}
    <div class="socialnetworks">
        <h3>Начальная информация о проекте</h3>
        <div class="butt-1">
            <a href="{% provider_login_url "vk" %}"><button type="submit">Vk</button></a>
        </div>
        <div class="butt-2">
            <a href="{% provider_login_url "facebook" %}"><button type="submit">Facebook</button></a>
        </div>
    </div>
{% endblock %}